<canvas id="dojiCanvas" width="800" height="600">[No canvas support]</canvas>

<form method="post"action = "/">
  <ol style="list-style-type: none;">
  <li>
    <label>Start Date</label>
    <input name="post[start_date]" value=<%= @start_date %> />
  </li>
  <li>
    <label>End Date</label>
    <input name="post[end_date]" value=<%= @end_date %> />
  </li>
  <li>
    <label>Symbol</label>
    <input name="post[symbol]" value=<%= @symbol %> />
  </li>
  <li>
    <label>Line Type</label>
    <input name="post[line_type]" value=<%= @line_type %> />
  </li>
  <li><input type="submit" value="Submit" /></li>
  </ol>
</form>

<script>
    window.onload = function () {
      dojiChart = new RGraph.Scatter('dojiCanvas', <%= @data.to_json %>);

      dojiChart.Set('chart.title', <%= @chart_title.to_json %>);
      dojiChart.Set('chart.labels', <%= @labels.to_json %>);

      dojiChart.Set('chart.gutter', 55);
      dojiChart.Set('chart.background.grid.autofit', true);
      dojiChart.Set('chart.scale.decimals', 2);
      dojiChart.Set('chart.text.angle', 45);
      dojiChart.Set('chart.crosshairs', true);

      dojiChart.Set('chart.xmax', <%= @x_max %>);
      dojiChart.Set('chart.background.grid.autofit.numvlines', <%= @x_max %>);
      dojiChart.Set('chart.xticks', false);

      dojiChart.Set('chart.ymax', <%= @y_max %>);
      dojiChart.Set('chart.ymin', <%= @y_min %>);
      dojiChart.Set('chart.background.grid.autofit.numhlines', <%= Doji::H_LINES %>);

      <% @chart_properties.each do |key, value| %>
        <%= "dojiChart.Set(#{key.to_json}, #{value.to_json})" %>
      <% end %>

      dojiChart.Draw();
    }
</script>